* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Quicksand', sans-serif;
    padding: 0;
    border: 0;
    display: flex;
    flex-direction: column;
    background-color: white;

}
main {
    background-color: whitesmoke;
    padding: 0;
    margin: 0;
}
.logo a{
    text-decoration: none;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header a img {
    width: 70px;
    height: 55px;
    padding-right: 10px;
    border-right: 2px #2b38aa solid;
}
.logo > a h1 {
    font-size: 16px;
    font-weight: 550;
    color: #2b38aa;
    padding-left: 10px;
}
.logo {
    display: flex;
    justify-content:space-between;
    gap: 0.4rem;
    align-items: center;
}
.menu-icon {
    display: none;
    cursor: pointer;
    width: 20px;
    height: 30px;
    position: relative;
    right: 10px;
  }
  
  .bar {
    background-color: #2b38aa;
    height: 2px;
    margin: 6px 0;
    transition: all 0.3s ease;
    width: 100%;
    border-radius: 999px;
  }
nav {
    padding: 0;
    margin: 0;
}
nav li{
    text-align: center;
    font-size: 15px;
    font-weight: 500;

}
header {
    width: 100%;
    height: 13vh;
    padding-left: 20px;
    padding-block: 1rem;
    margin-inline: auto;
    display: flex;
    justify-content:space-between;
    align-items: center;
    z-index: 9999;
    background-color: white;
    position: sticky;
    top: 0;

}

.menu {
    list-style: none;
    display: flex;
    padding-right: 20px;
    position: relative;
    height: auto; /* Menggunakan tinggi otomatis di desktop */
    flex-direction: row; /* Menampilkan menu secara horizontal di desktop */
    justify-content: center;
    align-items: center;
    transition: height 0.3s ease;
}
.menu.active {
    height: 180px;
}

nav  a {
    text-decoration: none;
    padding: 20px;
    color: #4644af;

}
nav a:hover {
    color: red;
    transition: all 0.3s ease-in-out;
}
.banner > h2 {
    font-size: 50px;
    color: white;
    font-weight: 250;
    font-family: 'Times New Roman', Times, serif;
}
.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    background-size: 100% 100%;
    background-image: url(/assets/img/galaxy.jpg);
}
.profil {
    display: flex;
    justify-content: space-between;
    padding: 60px 90px 70px 80px;
    background-color: white;
    flex-wrap: wrap;
}
.text-profil {
    width: 60%;
    font-size: 18px;
    text-align: justify;
    line-height: 0.7cm;
}
.panah {
    font-weight: 900;

}
.buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 40%;
  }
  
  .button-container {
    margin-bottom: 0px;
  }
  
  button {
    width: 300px;
    border: none;
    background-color: transparent;
    color: #0a4091;
    font-family: 'timesnewroman';
    font-weight: 700;
    padding: 1px;
    font-size: 21px;
    cursor: pointer;
    display: flex;
    align-items: end;
    justify-content: left;
    gap: 5px;
  }
  
  .infoBox {
    width: 270px;
    height: auto;
    margin-top: 10px;
    padding: 15px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    display: none;  /* Hide by default */
  }
  
  #profilePic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  #animatedNumber {
    font-size: 36px;
    font-weight: bold;
    color: #0c264d; /* Warna biru untuk angka */
    margin-top: 15px;
  }
  h3, p {
    margin: 10px 0;
  }
  
  /* Menampilkan kotak informasi saat diperlukan */
  .infoBox.show {
    display: block;
    
    
  }

.visi-misi-1, .visi-misi-2 {
width: 100%;
padding: 10px;
gap: 1rem;
display: flex;
justify-content: space-around;
flex-wrap: wrap;

}
.countainer {
    width: 100%;
}
.countainer h1 {
    font-size: 50px;
    display: flex;
    justify-content: center;
    padding-top: 5rem;
    padding-bottom: 3rem;
    color: #275aa7;
}
.card {
    background-color: white;
    width: 600px;
    padding: 30px;
    margin: 0;
    margin-bottom: 30px;
}
.card p,li {
    line-height: 0.7cm;
}
.card p {
    text-align :left;
}
.card ol {
    text-align: left;
    margin-left: 30px;
}
.card h2 {
    color:rgb(206, 173, 103);
    padding-bottom: 20px;
}

footer {
    background-color: #0a4091;
    width: 100%;
    margin-top: 70px;
}
footer article img {
    width:80px;
}
footer article {
    display: flex;
    justify-content:left;
    align-items:flex-start;
    flex-wrap: wrap;
}
footer .hakcipta {
    background-color: black;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}
.daftar-footer { 
   color: white;
   padding-top: 40px;
   padding-bottom: 40px;
   margin-right: 30px;
   margin-left: 60px;
   
}
.daftar-footer h1{
    font-size: 22px;
    line-height: 0.8cm;
}
.daftar-footer h2 {
    font-size: 16px;
    margin-bottom: 11px;
}
.daftar-footer p {
    font-size: 14px;
    line-height: 0.7cm;
}
.daftar-footer ul {
    list-style-type: none;
    font-size: 15px;
    font-weight: 700;
}
.daftar-footer li a{
    text-decoration-line: none;
    color: #ec3f3f;
}
.daftar-footer li a:hover {
    color: #3f7fdf;
}
@media screen and (max-width: 1200px) {
    header {
        height: 100px;
    }
   
    .card {
        width: 365px;
    }
    .card p, li {
        line-height: 0.4cm;
    }
    .daftar-footer {
        padding-top: 40px;
        padding-bottom: 40px;
        margin-right: 0px;
        margin-left: 0px;
        width: 30%;
    }
}
@media screen and (max-width:768px) {
    .logo a h1 {
        font-size: 12px;
    }
    /* navbar untuk tampilan mobile -start*/
    nav li {
        width: 100%;
        text-align: left;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    nav a {
        padding: 11px 422px 11px 20px;
    }
    nav a:hover {
        background-color: #224579;
        color: white;
    }
    header {
        height: 65px;
    }
    header a img {
        width: 55px;
        height: 40px;
    }
    .menu {
     position: absolute;
    top: 60px;
    padding-right: 0;
    right: 0;
    background-color: white;
    width: 100%;
    height: 0;
    flex-direction: column;
    justify-content:space-around;
    align-items:flex-start;
    transition: height 0.3s ease;
    overflow: hidden;
    box-shadow: 2px 7px 10px rgba(0, 0, 0, 0.2);
    }
    .menu-icon {
        display: block;
      }
    
      .menu-icon.open .bar1 {
        transform: rotate(45deg);
        position: absolute;
        top: 5px;
      }
    
      .menu-icon.open .bar2 {
        opacity: 0;
      }
    
      .menu-icon.open .bar3 {
        transform: rotate(-45deg);
        position: absolute;
        top: 5px;
      }
      /* navbar finish*/
    .banner {
        height: 100px;
        text-align: center;
    }
    .banner h2{
        font-size: 30px;
    }

    .profil {
        flex-direction: column;
        padding: 40px 20px 30px 20px;
    }
    .buttons {
        width: 100%;
    }
    button {
        text-align: left;
    }
    .text-profil {
        margin-top: 20px;
        width: 100%;
        text-align: left;
    }

    .card {
        width: 420px;
    }
    
    .countainer h1 {
        font-size: 30px;
        padding-top: 3rem;
        padding-bottom: 1rem;
    }
    .card p, ol li {
        font-size: 14px;
        font-weight: 500;
    }
    footer article {
        flex-direction: column;
    }
    .daftar-footer {
        width: 100%;
        padding: 10px 10px 10px 10px;
    }
    .daftar-footer p, li{
        font-size: 10px;
    }
    .daftar-footer h1 {
        font-size: 16px;
    }
    .daftar-footer h2 {
        font-size: 14px;
    }
    .hakcipta p{
        font-size: 9px;
    }
}